p {
    color:red;
}
h1 {
    color:blue;
    background-color:red;
}
ul {
    border: 3px solid #2892F0;
}
li {
    color:blue;
    font-size:18pt;
}
body {
    font-family:Tahoma, Verdana, Geneva;
}

