{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<!-- Contenido Principal -->
<div class="margen_top">
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <h1>Contacto</h1>
    <br>
    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maxime
        error natus neque nam consequatur molestiae! Aliquam distinctio
        omnis dolor, temporibus officia suscipit doloribus iusto aperiam
        unde eveniet, in quod? Tempora consequuntur eaque quod, blanditiis
        repudiandae aliquam fugit molestiae. Fuga dolores, iusto voluptatem
        excepturi ipsam sint eius porro sunt ad debitis aperiam labore
        laboriosam dicta doloribus repellendus quaerat voluptatibus.
        Maiores? Obcaecati, magnam impedit exercitationem optio
        consequuntur, vitae atque inventore temporibus culpa suscipit
        molestias veritatis odio, accusantium quas ducimus vel! Tenetur
        magnam odio, dolore at impedit iste quam quis et deleniti. Obcaecati
        nam debitis numquam consectetur laboriosam molestiae excepturi esse.
        Error, possimus porro aliquam labore iure quibusdam ipsam dolore,
        ducimus architecto blanditiis at ullam autem ratione voluptatibus
        vero eum saepe illo. Tempora recusandae velit cupiditate nihil earum
        non commodi reprehenderit nobis maxime sapiente hic explicabo
        facere, eos obcaecati nulla omnis placeat vero fuga quasi impedit.
        Consequuntur nihil ipsam quod saepe accusantium!
    </p>
    <p class="text-justify">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        eius libero iusto mollitia facere culpa eligendi odit molestias
        repellendus magnam voluptatum voluptas dolorem quae ab soluta
        incidunt a nemo nesciunt? Fugit, asperiores a odit officia qui sint
        eveniet vel, doloribus ullam est natus necessitatibus, ratione
        consectetur alias hic amet illo minima. Expedita nesciunt
        consectetur consequuntur doloremque, temporibus iure deleniti ullam.
    </p>
    <br />
    </div>
</div>
<div class="row">  
    <div class="col-1 mx-auto"></div>    
    <div class="col-3 mx-auto">
    <img src=" {% static 'core/img/email.png' %} " class="img-fluid" />
    </div>
    <div class="col-6 mx-auto">
    <br><br><br>
    <p><b>Email:</b> magic_python@gmail.com</p>
    <p><b>Teléfono:</b> +52 55 0088 9900</p>
    <p><b>Honorarios:</b> $1,600.00/h (precio base)</p>      
    </div>
</div>
</div>

<hr />


{% endblock %}