{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<!-- Home Section -->
<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row">
        <div class="col d-sm-block">
          <h1 class="display-6">
            <strong> Magic </strong>Python
          </h1>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fal fa-check-double fa-2x"></i>              
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              architecto maiores id. Fuga rerum culpa itaque neque.
              Aspernatur voluptatum quae facilis, sapiente aperiam unde id
              deserunt vel nostrum hic sed.
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fal fa-shield-check fa-2x"></i>              
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              architecto maiores id. Fuga rerum culpa itaque neque.
              Aspernatur voluptatum quae facilis, sapiente aperiam unde id
              deserunt vel nostrum hic sed.
            </div>
          </div>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fal fa-shield-alt fa-2x"></i>              
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
              architecto maiores id. Fuga rerum culpa itaque neque.
              Aspernatur voluptatum quae facilis, sapiente aperiam unde id
              deserunt vel nostrum hic sed.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- courses Section -->
<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src=" {% static 'core/img/courses.jpg' %} " class="img-fluid mb-3 rounded-circle" />
      </div>
      <div class="col-md-6">
        <h3>Cursos</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Laudantium, ipsum temporibus praesentium similique expedita
          laboriosam tempora vero architecto necessitatibus harum!
        </p>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fal fa-code-branch fa-2x"></i>            
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
            voluptas, rem facilis laboriosam architecto impedit?
          </div>
        </div>

        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fal fa-file-code fa-2x"></i>            
          </div>
          <div class="p-4 align-self-end">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
            voluptas, rem facilis laboriosam architecto impedit?
          </div>
        </div>

        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fab fa-java fa-2x"></i>            
          </div>
          <div class="p-4 align-self-end">
            Voluptatibus ipsa quod, beatae repellendus deleniti similique doloribus rem dolorum 
            quam earum iusto cum molestiae, quas nam sit aut inventore magnam enim!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

