* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}      
.main {
  display: flex;            
  flex-wrap: wrap;
 }

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    padding: 20px;
    background-color: #f4faff;
    margin-right: 5px;
    margin-bottom: 25px;
  }
  .card:hover {
    box-shadow: 0 4px 20px rgba(5, 5, 5, 0.7);    
  }  
  .card-title {  
    font-weight: bold;
    margin-bottom: 10px;
    color: #1a1a1a;    
    text-align: center;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: .5rem 1rem;
  }
  
  .bodyCard {
     padding: 3px 16px; 
     background-color:coral;      
     color: aliceblue;
    }
  .card-image {
    width: 100%;
    margin-bottom: 5px;
  }
  .card-description {    
    line-height: 1.5;
    color:white;
  }

  #btnConsulta {
    color: white;
    background-color: cornflowerblue;
    font-size: x-large;
  }
  
@media(min-width:1024px) {
    .card {
        flex: 32%;
        max-width: 32%;
    }
}

@media(max-width:1024px) {
    .card {
        flex: 49%;
        max-width: 49%;
    }
}
@media(max-width:600px) {
    .card {
        flex: 100%;
        max-width: 100%;
    }
}

