{% extends "core/base.html" %}
{% load static %}
{% block content %}

<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Gracias por tus comentarios</span>
              <span class="section-heading-lower">En breve recibirás respuesta de nuestro equipo.</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock  %}