<div class="container">
    <div class="row mt-3">
        <div class="col-md-9 mx-auto text-light">
            <div>
                <form action="" method='post' enctype='multipart/form-data'>
                    {% csrf_token %}
                    <table>
                        {{form.as_table}}
                    </table>
                    <br>
                    {{form.media}}
                    <input type="submit" value="{{btn_description}}" />
                </form>
            </div>        
        </div>
    </div>
</div>
