{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <div class="about-heading-content mbtm">
        <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5 forced">
                    <h2 class="section-heading mb-4">  
                        Solicitud de cambio de password
                    </h2>
                    <div class="section-content">                        
                        <p>Hemos enviado un correo para cambiar el password. </p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}