{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <div class="about-heading-content mbtm">
        <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5 forced">
                    <h2 class="section-heading mb-4">
                        Autenticación
                    </h2>
                    <div class="section-content">
                        <form action="" method="post">
                            {% csrf_token %}
                            <p>Escribe tu correo electrónico</p>
                            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                                <p>{{ form.email }}</p>
                            <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}