{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <div class="about-heading-content mbtm">
        <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5 forced">
                    <h2 class="section-heading mb-4">
                        Validación de contraseña
                    </h2>
                    <div class="section-content">
                        {% if validlink %}                            
                            <form action="" method="post">
                                <div style="display:none">
                                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                </div>
                                <table>
                                    <tr>
                                        <td>{{ form.new_password1.errors }}
                                            <label for="id_new_password1">Nuevo password:</label></td>
                                        <td>{{ form.new_password1 }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.new_password2.errors }}
                                            <label for="id_new_password2">Confirma password:</label></td>
                                        <td>{{ form.new_password2 }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><input type="submit" value="Cambiar mi password" /></td>
                                    </tr>
                                </table>
                            </form>
                        {% else %}
                            <h1>Password reset falló</h1>
                            <p>El link es inválido, posiblemente porque ya ha sido usado. Por favor solicita nuevamente el cambio de password.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}